html {
  background-color: rgb(125, 161, 246);
  background: linear-gradient(
      135deg,
      rgba(98, 147, 221, 0.2) 0%,
      rgba(98, 147, 221, 0.2) 16.667%,
      rgba(121, 207, 220, 0.2) 16.667%,
      rgba(121, 207, 220, 0.2) 33.334%,
      rgba(75, 86, 222, 0.2) 33.334%,
      rgba(75, 86, 222, 0.2) 50.001%,
      rgba(87, 116, 221, 0.2) 50.001%,
      rgba(87, 116, 221, 0.2) 66.668%,
      rgba(64, 56, 222, 0.2) 66.668%,
      rgba(64, 56, 222, 0.2) 83.335%,
      rgba(110, 177, 220, 0.2) 83.335%,
      rgba(110, 177, 220, 0.2) 100.002%
    ),
    linear-gradient(
      90deg,
      rgba(98, 147, 221, 0.2) 0%,
      rgba(98, 147, 221, 0.2) 16.667%,
      rgba(121, 207, 220, 0.2) 16.667%,
      rgba(121, 207, 220, 0.2) 33.334%,
      rgba(75, 86, 222, 0.2) 33.334%,
      rgba(75, 86, 222, 0.2) 50.001%,
      rgba(87, 116, 221, 0.2) 50.001%,
      rgba(87, 116, 221, 0.2) 66.668%,
      rgba(64, 56, 222, 0.2) 66.668%,
      rgba(64, 56, 222, 0.2) 83.335%,
      rgba(110, 177, 220, 0.2) 83.335%,
      rgba(110, 177, 220, 0.2) 100.002%
    ),
    linear-gradient(
      0deg,
      rgba(98, 147, 221, 0.2) 0%,
      rgba(98, 147, 221, 0.2) 16.667%,
      rgba(121, 207, 220, 0.2) 16.667%,
      rgba(121, 207, 220, 0.2) 33.334%,
      rgba(75, 86, 222, 0.2) 33.334%,
      rgba(75, 86, 222, 0.2) 50.001%,
      rgba(87, 116, 221, 0.2) 50.001%,
      rgba(87, 116, 221, 0.2) 66.668%,
      rgba(64, 56, 222, 0.2) 66.668%,
      rgba(64, 56, 222, 0.2) 83.335%,
      rgba(110, 177, 220, 0.2) 83.335%,
      rgba(110, 177, 220, 0.2) 100.002%
    ),
    linear-gradient(90deg, rgb(125, 161, 246), rgb(27, 147, 241));
}

#root {
  background-color: rgba(255, 255, 255, 0.45);
}

.App {
  text-align: left;
}

.App h2 {
  margin: 10px 0 0 0;
}

.App h3 {
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 20vmin;
  pointer-events: none;
  max-width: 500px;
}

.corn {
  animation: up 6.5s infinite;
  opacity: 0;
  will-change: transform, opacity;
}

.App-header {
  background-color: #4e6096;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
  background: radial-gradient(
      circle at 50% 30%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(138, 138, 138, 0.04) 50%,
      rgba(138, 138, 138, 0.04) 100%
    ),
    radial-gradient(
      circle at 9% 40%,
      rgba(209, 209, 209, 0.04) 0%,
      rgba(209, 209, 209, 0.04) 50%,
      rgba(71, 71, 71, 0.04) 50%,
      rgba(71, 71, 71, 0.04) 100%
    ),
    radial-gradient(
      circle at 84% 81%,
      rgba(147, 147, 147, 0.04) 0%,
      rgba(147, 147, 147, 0.04) 50%,
      rgba(253, 253, 253, 0.04) 50%,
      rgba(253, 253, 253, 0.04) 100%
    ),
    linear-gradient(266deg, rgb(5, 73, 170), rgb(140, 100, 243));
}

.App-link {
  color: hsl(199, 94%, 71%);
}

.GroupUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Main {
  background-color: #303944;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(14px + 1vmin);
  padding: 5px 30px 40px 30px;
  background: linear-gradient(
      231deg,
      rgba(233, 233, 233, 0.01) 0%,
      rgba(233, 233, 233, 0.01) 25%,
      rgba(10, 10, 10, 0.01) 25%,
      rgba(10, 10, 10, 0.01) 50%,
      rgba(237, 237, 237, 0.01) 50%,
      rgba(237, 237, 237, 0.01) 75%,
      rgba(200, 200, 200, 0.01) 75%,
      rgba(200, 200, 200, 0.01) 100%
    ),
    linear-gradient(
      344deg,
      rgba(2, 2, 2, 0.03) 0%,
      rgba(2, 2, 2, 0.03) 20%,
      rgba(10, 10, 10, 0.03) 20%,
      rgba(10, 10, 10, 0.03) 40%,
      rgba(100, 100, 100, 0.03) 40%,
      rgba(100, 100, 100, 0.03) 60%,
      rgba(60, 60, 60, 0.03) 60%,
      rgba(60, 60, 60, 0.03) 80%,
      rgba(135, 135, 135, 0.03) 80%,
      rgba(135, 135, 135, 0.03) 100%
    ),
    linear-gradient(
      148deg,
      rgba(150, 150, 150, 0.03) 0%,
      rgba(150, 150, 150, 0.03) 14.286%,
      rgba(15, 15, 15, 0.03) 14.286%,
      rgba(15, 15, 15, 0.03) 28.572%,
      rgba(74, 74, 74, 0.03) 28.572%,
      rgba(74, 74, 74, 0.03) 42.858%,
      rgba(175, 175, 175, 0.03) 42.858%,
      rgba(175, 175, 175, 0.03) 57.144%,
      rgba(16, 16, 16, 0.03) 57.144%,
      rgba(16, 16, 16, 0.03) 71.42999999999999%,
      rgba(83, 83, 83, 0.03) 71.43%,
      rgba(83, 83, 83, 0.03) 85.71600000000001%,
      rgba(249, 249, 249, 0.03) 85.716%,
      rgba(249, 249, 249, 0.03) 100.002%
    ),
    linear-gradient(
      122deg,
      rgba(150, 150, 150, 0.01) 0%,
      rgba(150, 150, 150, 0.01) 20%,
      rgba(252, 252, 252, 0.01) 20%,
      rgba(252, 252, 252, 0.01) 40%,
      rgba(226, 226, 226, 0.01) 40%,
      rgba(226, 226, 226, 0.01) 60%,
      rgba(49, 49, 49, 0.01) 60%,
      rgba(49, 49, 49, 0.01) 80%,
      rgba(94, 94, 94, 0.01) 80%,
      rgba(94, 94, 94, 0.01) 100%
    ),
    linear-gradient(
      295deg,
      rgba(207, 207, 207, 0.02) 0%,
      rgba(207, 207, 207, 0.02) 25%,
      rgba(47, 47, 47, 0.02) 25%,
      rgba(47, 47, 47, 0.02) 50%,
      rgba(142, 142, 142, 0.02) 50%,
      rgba(142, 142, 142, 0.02) 75%,
      rgba(76, 76, 76, 0.02) 75%,
      rgba(76, 76, 76, 0.02) 100%
    ),
    linear-gradient(
      73deg,
      rgba(81, 81, 81, 0.03) 0%,
      rgba(81, 81, 81, 0.03) 12.5%,
      rgba(158, 158, 158, 0.03) 12.5%,
      rgba(158, 158, 158, 0.03) 25%,
      rgba(136, 136, 136, 0.03) 25%,
      rgba(136, 136, 136, 0.03) 37.5%,
      rgba(209, 209, 209, 0.03) 37.5%,
      rgba(209, 209, 209, 0.03) 50%,
      rgba(152, 152, 152, 0.03) 50%,
      rgba(152, 152, 152, 0.03) 62.5%,
      rgba(97, 97, 97, 0.03) 62.5%,
      rgba(97, 97, 97, 0.03) 75%,
      rgba(167, 167, 167, 0.03) 75%,
      rgba(167, 167, 167, 0.03) 87.5%,
      rgba(22, 22, 22, 0.03) 87.5%,
      rgba(22, 22, 22, 0.03) 100%
    ),
    linear-gradient(90deg, hsl(137, 0%, 23%), hsl(137, 0%, 23%));
}

.Main a {
  color: hsl(199, 94%, 71%);
}

.Main a:visited {
  color: #3b93ffcb;
}

.pointy {
  cursor: pointer;
}

.cod {
  font-family: "Courier New", Courier, monospace;
  padding: 0 5px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
}

.myButton:active {
  position: relative;
  top: 1px;
}

.activeModel {
  border: 2px dashed yellow !important;
}

.demo {
  width: 80%;
  padding-top: 15px;
}

.results {
  text-align: center;
}

.me {
  max-height: 200px;
}

#footer {
  list-style-type: none;
}

#footer li a,
.outro a {
  color: #e73536;
  font-weight: bold;
}

#InfiniteRed {
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wiggle {
  animation-name: wiggle;
  -webkit-animation-name: wiggle;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  visibility: visible !important;
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

.outro {
  width: 70%;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#closer {
  height: 75px;
  padding: 20px 25px 20px 0px;
}

.advancedContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#advancedLoadText {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  -webkit-animation: rainbow-text 3s infinite;
  animation: rainbow-text 3s infinite;
}

.advancedCam {
  position: relative;
}

.advancedBox {
  position: absolute;
}

@keyframes rainbow-text {
  0% {
    color: #e63462;
  }
  20% {
    color: #fde74c;
  }
  40% {
    color: #9bc53d;
  }
  60% {
    color: #5dd9c1;
  }
  80% {
    color: #6457a6;
  }
  100% {
    color: #fff;
  }
}
