body {
  background-color: #ccd6eb;
}

.App {
  text-align: left;
}

.App h2 {
  margin: 10px 0 0 0;
}

.App h3 {
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 20vmin;
  pointer-events: none;
  max-width: 500px;
}

.corn {
  animation: up 6.5s infinite;
  opacity: 0;
  will-change: transform, opacity;
}

.App-header {
  background-color: #4e6096;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

.GroupUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Main {
  background-color: #303944;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(14px + 1vmin);
  padding: 5px 30px 40px 30px;
}

.Main a {
  color: #61dafb;
}

.Main a:visited {
  color: #3b93ffcb;
}

.pointy {
  cursor: pointer;
}

.cod {
  font-family: 'Courier New', Courier, monospace;
  padding: 0 5px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
}

.myButton {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #7892c2),
    color-stop(1, #476e9e)
  );
  background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color: #7892c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 12px 37px;
  margin: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.myButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #476e9e),
    color-stop(1, #7892c2)
  );
  background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color: #476e9e;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.activeModel {
  border: 1px dashed yellow;
}

.demo {
  width: 80%;
  padding-top: 15px;
}

.results {
  text-align: center;
}

.me {
  max-height: 200px;
}

#footer {
  list-style-type: none;
}

#footer li a,
.outro a {
  color: #e73536;
  font-weight: bold;
}

#InfiniteRed {
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wiggle {
  animation-name: wiggle;
  -webkit-animation-name: wiggle;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  visibility: visible !important;
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

.outro {
  width: 70%;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#closer {
  height: 75px;
  padding: 20px 25px 20px 0px;
}

.advancedContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.advancedCam {
  position: relative;
}

.advancedBox {
  position: absolute;
}
